<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <CascadingValue Value="IsAuthenticate">
            <CascadingValue Value="VkService">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </CascadingValue>
        </CascadingValue>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    ToDoBlazor.Data.BoolRef IsAuthenticate = false;
    ToDoBlazor.Services.VkApiService VkService = new Services.VkApiService();
}